main {
	font-size: 0;
}

.row-parent{
 margin-top: 90px;
 margin-left: auto;
 margin-right: auto;
 width: 800px;
}

.green, .blue {
 height: 200px;
 border: 1px black solid;
 display: inline-block;
 width: 50%;
}

.green {
 background-color: green;
}

.blue {
 background-color: blue;
}

.row1 {
	text-align: center;
}

.gray, .black, .yellow {
 height: 300px;
 border: 1px black solid;
 display: inline-block;
 width: 33.33%;

}

.row2 {
	text-align: center;
}

.gray {
 background-color: gray;
}

.black {
 background-color: black;
}

.yellow {
 background-color: yellow;
}